torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

git+https://github.com/huggingface/diffusers.git

transformers==4.52.4
accelerate==1.7.0

fastapi==0.115.12
uvicorn[standard]==0.34.2

safetensors==0.5.3
sentencepiece==0.2.0

Pillow==11.2.1
python-multipart==0.0.20
