torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

git+https://github.com/huggingface/diffusers.git

transformers
accelerate

fastapi
uvicorn[standard]

huggingface_hub
safetensors
sentencepiece

Pillow
python-multipart
