fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pillow==10.4.0
numpy==1.26.4

torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

transformers==4.52.4
accelerate==1.7.0
safetensors==0.5.3
sentencepiece==0.2.0

diffusers==0.34.0
huggingface-hub==0.32.4

protobuf==5.29.4
einops==0.8.1
